/* navbar styles */
.nav-section {
    background: url("../Assets/Hero-bg.png");
    max-width: 1440px;
    height: 698px;
    margin: 0 auto;
    margin-bottom: 116px;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-size: 34px;
    font-weight: 900;
    margin: 50px 0px 50px 150px;



}

.btn-primary {
    width: 132px;
    height: 48px;
    margin: 52px 150px 52px 909px;


}

.nav-title {
    display: flex;
    justify-content: space-between;
}

.text-color {
    color: #4E47FF;
}

.ui-template {
    text-align: center;
    margin-top: 158px;

}

.dark-title {
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    font-weight: bold;

}

.raleway {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
    background-color: #4E47FF;

}

/* main section */
/* action styles */
.action-section {
    max-width: 1140px;
    height: 328px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.description {
    color: rgba(37, 36, 50, 0.5);
    font-size: 20px;
}

.flow-img img {
    border-radius: 48px;
    width: 400px;
    height: 328px;
    margin: 116px 160px 116px 220px;

}

/* joined styles */
.join-user {
    background-color: rgba(11, 3, 247, 0.1);
    border-radius: 24px;
    max-width: 1140px;
    height: 306px;
    margin: 0 auto;
    margin-top: 116px;
    margin-bottom: 137px;
    border: none;
}

.join-title {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 38px;
    padding-top: 50px;

}

.amount-users {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 142px 50px 142px;

}



.amount {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin: 0;

}

.active {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    text-align: center;

}

/* review styles */
.review-section {
    max-width: 1140px;
    height: 342px;
    margin: 0 auto;
}

.review-title {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 50px;
}

.review-container {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.review-card {
    border: 1px solid hsl(120, 2%, 90%);
    background-color: white;
    width: 360px;
    height: 240px;
    border-radius: 14px;
    padding: 24px;
}

.heading {
    font-size: 24px;
    font-weight: bold;
}

.reviewer-bio {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;

}

.reviewer-img {
    border-radius: 50%;
}