/* navbar styles */
.nav-section {
    background: url("../Assets/Hero-bg.png");
    max-width: 1440px;
    height: 698px;
    margin: 0 auto;
    margin-bottom: 116px;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-size: 34px;
    font-weight: 900;
    margin: 50px 0px 50px 150px;



}

.btn-primary {
    width: 132px;
    height: 48px;
    margin: 52px 150px 52px 909px;


}

.nav-title {
    display: flex;
    justify-content: space-between;
}

.text-color {
    color: #4E47FF;
}

.ui-template {
    text-align: center;
    margin-top: 158px;

}

.dark-title {
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    font-weight: bold;

}

.raleway {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
    background-color: #4E47FF;

}

/* main section */
/* action styles */
.action-section {
    max-width: 1140px;
    height: 328px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.description {
    color: rgba(37, 36, 50, 0.5);
    font-size: 20px;
}

.flow-img img {
    border-radius: 48px;
    margin: 116px 160px 116px 220px;

}